<!DOCTYPE html>
<html>
<head>
    <title>Donald Trump Tweet Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='fa/css/font-awesome.min.css') }}">

    <link rel=icon href="{{ url_for('static', filename='favicon.png') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
 <body>
     <div class="title">
         <img src="{{ url_for('static', filename='title_pic.png') }}">
         <div class="score__wrapper">
             <div class="add-comment"></div>
             <div class="text">{{ score }}</div>
        </div>
     </div>
     <div class="tweet">
       <a href="#" class="follow"><i class="fa fa-twitter"></i>Follow</a>

       <div class="tweet--user">
         <img class="tweet--user-avatar profile_pic" src="{{ url_for('static', filename='donald.jpg') }}" alt="" />
         <div class="tweet--user-name">Donald J. Trump <img class="verified" src="{{ url_for('static', filename='verified.png') }}" alt="" /><span>@fakeDonaldTrump</span></div>
       </div>

       <p class="tweet--body">{{ sentence }}</p>

       <div class="tweet--time">11:11 AM - 1 Jan 14</div>

       <div class="tweet--actions">
         <i class="fa fa-ellipsis-h"></i>
         <i class="fa fa-heart"></i>
         <i class="fa fa-retweet"></i>
         <i class="fa fa-reply"></i>
         <div class="new-tweet">
         <span class="new-count">{{ count }} Retweets</span>
        </div>
       </div>
     </div>

     <!---
     Buttons
    --->

    <div class="button__wrapper">
        <button class="new-tweet-btn real-btn">Real</button>
        <button class="new-tweet-btn middle-btn">New Tweet</button>
        <button class="new-tweet-btn fake-btn">Fake</button>
    </div>

    <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
    <script type="text/javascript" src="{{ url_for('static', filename='add_points.js') }}"></script>
</body>
</html>
